/*logo and banner*/
.logo{
	display: inline-block;
	margin-left: 90px;
	margin-top: -15px;
}
#banner{
	margin-top: 40px;
}
#banner img{
	margin:0 auto;
	
}
/*index-content*/
.condentlist{
	margin:30px 0;
	color: #666666;
}

.index-content{
	margin-top: 50px;
}
.index-content h2{
	color:#0059B2;
}
.index-content h4{
	margin-top: 20px;
	color:#ccc;
}
.condentlist .col{
	padding: 30px;
}
.condentlist del{
	color:#999999;
}
.tab2{
	background: #eee;
	padding: 60px 20px;
	text-align: center;
}
.tab2 img{
	width: 40%;
	height: 40%;
}
.tab2 .tab2-text{
	text-align: center;
	padding-top: 50px;
	margin-top: 30px;
}
.tab2 h2{
	color: #5E5E5E;
}
.tab2 h4{
	color: #999;
}
.tab3{
	padding: 60px 20px;
	text-align: center;
}
.tab3 img{
	width:60%;
	height: 60%;
}
.tab3 .tab3-text{
	margin-top:60px;
}
.tab3 h2{
	color: #5E5E5E;
}
.tab3 h4{
	color: #999;
}
footer{
	color: #fff;
	background: #666;
	padding: 20px 0;
}

/*information.html  css*/
.info-title{
	background: #222222;
	color: #fff;
	padding: 40px 190px;
}
#information{
	padding: 40px 0;
	background: #eee;
	margin-top: 245px;
}
.infor-content{
	background-color: #fff;
	margin: 0 0 20px 0;
	box-shadow: 2px 2px 3px #ccc;
}
.infor-content img{
	margin:12px 0;
}



